<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.malakhov.appmarket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activities.FilterActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".Activities.PokupkiActivity" />
        <activity android:name=".Activities.MyCard" />
        <activity android:name=".Activities.AddCard" />
        <activity android:name=".Activities.UsersComments" />
        <activity android:name=".Activities.SendComment" />
        <activity android:name=".Activities.ZoomActivity" />
        <activity android:name=".Activities.BuyActivity" />
        <activity android:name=".Activities.MyComments" />
        <activity android:name=".Activities.AdminsListActivity" />
        <activity android:name=".Activities.OrdersActivity" />
        <activity android:name=".Activities.ProductInfo" />
        <activity android:name=".Activities.CharacteristicsActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Activities.MarketActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>